@charset "utf-8";
@import "compass";
@import "compass/css3";

body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

#toggles, #range, #colors {
  margin: 0 auto;
  width: 600px;
}

#image {
  background-color: red;
  float: right;
}

#toggles > div {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  margin: 10px 0;
}
#toggles > div:hover {
  background-color: #eee;
}

#range {
  height: 100px;
  position: relative;
  .count {
    @include border-radius(40px);
    background-color: #fff;
    display: inline-block;
    height: 30px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 30px;
    left: 50px;
  }
}

.colorRange {
  height: 100px;
  display: inline-block;
}

.pin {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  background-position: 200px 200px;
  background-size: cover;
  &:hover {
    background-position: center center;
  }
}

.month {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nocolor {
  color: rgba(0,0,0,0);
}