---
title: D3 testing
---

<div id="image">
	<p>hello</p>
</div>

<div id="toggles">
  <div id="redRange">Red</div>
  <div id="orangeRange">Orange</div>
  <div id="yellowRange">Yellow</div>
  <div id="greenRange">Green</div>
  <div id="blueRange">Blue</div>
  <div id="purpleRange">Purple</div>
</div>

<div id="range"></div>
<div id="colors" class="debug"></div>

