---
title: D3 testing
---

<div id="toggles">
	<div id="all">All</div>
  <div id="redRange">Red</div>
  <div id="orangeRange">Orange</div>
  <div id="yellowRange">Yellow</div>
  <div id="greenRange">Green</div>
  <div id="blueRange">Blue</div>
  <div id="purpleRange">Purple</div>
  <div id="neutralRange">Neutral</div>
</div>

<div id="range"></div>

<div id="colors" class="debug"></div>

